/* 
RAFAEL GUSTAVO ALVES
castelhano.rafael@gmail.com
Classes Gerais do sistema, carregado em TODAS as paginas
*/

.cursor-default{cursor: default;}
.pointer{cursor: pointer;}
.help{cursor: help;}
a:not(.alert-link){text-decoration: none;}
.cursor-text{cursor:text;}
select.readonly{background: rgb(233, 236, 239)!important;pointer-events: none;touch-action: none;}
input[readonly], textarea[readonly]{background: rgb(233, 236, 239)!important;}
[data-bs-theme="dark"] input[readonly], [data-bs-theme="dark"] .readonly, [data-bs-theme="dark"] .bg-light, [data-bs-theme="dark"] textarea[readonly]{background-color: #393939!important;color: #999!important;}

.slideIn{animation-fill-mode: both; animation-name: slideIn; animation-duration: 0.5s;}
@keyframes slideIn{from{transform:translate3d(0,100%,0);visibility:visible;}to{transform:translate3d(0,0,0);}}

.navbar-text-light *{--bs-navbar-brand-color: rgb(255, 255, 255);--bs-navbar-brand-hover-color: rgb(255, 255, 255); --bs-nav-link-color: rgba(255, 255, 255, 0.75); --bs-nav-link-hover-color: rgba(255, 255, 255, 0.9);}

.table td.fit,.table th.fit {white-space: nowrap;width: 1%;}
.table-sortable th {cursor: pointer;}
.table-sortable .th-sort-asc::after {content: "\025B4";}
.table-sortable .th-sort-desc::after {content: "\025BE";}
.table-sortable .th-sort-asc::after,.table-sortable .th-sort-desc::after {margin-left: 5px;}
.table-sortable .th-sort-asc,.table-sortable .th-sort-desc {background: rgba(0, 0, 0, 0.1);}
.page-item{cursor: pointer;}

.table-emphasis td{background-color: var(--bs-warning-bg-subtle);color: var(--bs-warning-text)!important;}
.table-emphasis.bg-body-secondary td{background-color: #fcecba;}
[data-bs-theme="dark"] .table-emphasis.bg-body-secondary td{background-color: #493802;}

.table-caution td{background-color: var(--bs-danger-bg-subtle);color: var(--bs-danger-text)!important;}
.table-caution.bg-body-secondary td{background-color: #f9c5c9;}
[data-bs-theme="dark"] .table-caution.bg-body-secondary td{background-color: #441014;}

.bg-warning-light{background-color: #FFF0C2!important;}
.bg-success-light{background-color: #64d69f!important;}
.bg-danger-light{background-color: #ff969f!important;}
.bg-dark-light{background-color: #262626;}
.bg-hover{opacity: 0.8;}
.bg-hover:hover{opacity: 1;}
.border-oil{border-color: #0065A4!important;}
.border-orange{border-color: #FD7E14!important;}

.btn-xl{height: calc(3.5rem + 2px);line-height: 1.25;}
[data-bs-theme="dark"] .btn-dark, .btn-dark-alt, .bg-dark-alt{background-color: #393939;color: #FFF;}
[data-bs-theme="dark"] .btn-dark:hover, .btn-dark-alt:hover{background-color: #333333;}
.btn-orange, .bg-orange{background-color: #F35B04;color: #FFF;}
.btn-orange:hover{background-color: #FD7E14;color: #FFF;}
.btn-pink, .bg-pink{background-color: #d63384;color: #FFF;}
.btn-pink:hover{background-color: #ab296a;color: #FFF;}
.btn-purple, .bg-purple{background-color: #6f42c1!important;color: #FFF!important;}
.btn-purple:hover{background-color: #59359a!important;color: #FFF;}
.btn-purple-light, .bg-purple-light{background-color: #727cf5!important;color: #FFF!important;}
.btn-purple-light:hover{background-color: #6169d0!important;color: #FFF!important;}
.btn-outline-purple{border-color: #6f42c1!important;color: #6f42c1!important;}
.btn-outline-purple:hover{background-color: #6f42c1!important;color: #FFF!important;}
div.btn-primary{background-color: #0d6efd; color: #FFF;}
div.btn-primary:hover{background-color: #0b5ed7;}
div.btn-success{background-color: #198754; color: #FFF;}
div.btn-success:hover{background-color: #157347;}
div.btn-warning{background-color: #ffc107; color: #000;}
div.btn-warning:hover{background-color: #ffca2c;}
div.btn-info{background-color: #0dcaf0; color: #000;}
div.btn-info:hover{background-color: #31d2f2;}
div.btn-danger{background-color: #bb2d3b; color: #FFF;}
div.btn-danger:hover{background-color: #dc3545;}
div.btn-dark{background-color: #212529; color: #FFF;}
div.btn-dark:hover{background-color: #424649;}
div.btn-secondary{background-color: #6c757d; color: #FFF;}
div.btn-secondary:hover{background-color: #5c636a;}
div.btn-light{background-color: #f8f9fa; color: #000;}
div.btn-light:hover{background-color: #d3d4d5;}

.text-orange{color: #FF5722!important;}
.text-purple{color: #6f42c1!important;}
.text-hover-orange:hover{color: #FF5722!important;}
.text-hover-purple:hover{color: #6f42c1!important;}

.dropdown-item-danger {color: #DC3545!important;}
.dropdown-item-danger:hover, .dropdown-item-danger:focus {color: #fff!important;background-color: #DC3545!important;}
.dropdown-item-success {color: #198754!important;}
.dropdown-item-success:hover, .dropdown-item-success:focus {color: #fff!important;background-color: #198754!important;}
.dropdown-item-purple {color: #6f42c1!important;}
.dropdown-item-purple:hover, .dropdown-item-purple:focus {color: #fff!important;background-color: #6f42c1!important;}
.dropdown-item-secondary {color: #6c757d!important;}
.dropdown-item-secondary:hover, .dropdown-item-purple:focus {color: #fff!important;background-color: #6c757d!important;}

.widget-thumb-img{position: relative;height: 150px;border: 3px solid #dee2e6;border-radius: .25rem;}
.widget-thumb-controls{margin-top: 5px;}

.filter-container{background-color: #F8F9FA;border:1px solid rgb(222, 226, 230);padding: 12px 10px 20px;min-width: 200px;}
[data-bs-theme="dark"] .filter-container{background-color: #3D3D3D;border:1px solid #3D3D3D;}
[data-bs-theme="dark"] .filter-container a{color: #f1f1f1!important;}
.filter-container ul{margin-bottom: 5px;}
.filter-container ul a{color: #0d6efd!important;cursor: pointer;font-size:0.9rem;}
.filter-container a.active{font-weight: bold;}

/* Estilos breakpoint LG+ */
@media(min-width: 992px){
  .dropdown-menu .submenu{display: none;position: absolute;left:100%; top:-7px;}
  .dropdown-menu .submenu-left{right:100%; left:auto;}
  .dropdown-menu > li:hover > .submenu{display: block;}
  .dropdown-menu li{position: relative;}
  .dropdown-menu > li:hover, .dropdown-menu > li.hover{background-color: #F1F1F1;}
  [data-bs-theme="dark"] .dropdown-menu > li:hover,[data-bs-theme="dark"] .dropdown-menu > li.hover{background-color: rgb(43, 48, 53);}
  .dropdown-menu-dark > li:hover, .dropdown-menu-dark > li.hover{background-color: #52575D;}
  .placeholder-end-lg::placeholder {text-align: right;font-weight: bold;color: #999;}
  .dotAlert{position: fixed;width: 100%;bottom: 1px;}
  .card-widget-fixed{height: 166px;overflow-y: auto;}
}

.rotate-90{transform: rotateZ(90deg);}
.rotate--90{transform: rotateZ(-90deg);}
.rotate-180{transform: rotateZ(180deg);}
.rotate--180{transform: rotateZ(-180deg);}
/* Estilos breakpoint LG- */
@media(max-width: 992px){
  .rotate-lg--90{transform: rotateZ(-90deg);}
  .rotate-lg-90{transform: rotateZ(90deg);}
  .widget-thumb-container{margin-bottom:5px;margin-left:12px;width: 96.5%;display: flex;flex-direction: row;justify-content: flex-start;}
  .widget-thumb-img{height: 100px;border: 1px solid #dee2e6;}
  .widget-thumb-controls{margin-top: 0px;}
  .submenu-alt{display: block;position: relative;padding: 0px;margin-top: 4px;margin-bottom: 4px;border-left: 0px;border-right: 0px;border-radius: 0px;background-color: rgb(248, 249, 250);color: rgb(108, 117, 125);}
  .filter-container{padding-bottom: 0px;margin-bottom: 5px;}
  .placeholder-end-lg::placeholder {color: transparent;}
  .dotAlert{position: fixed;width: 100%;top: 44px;}
}
.fs-7{font-size: 0.9rem!important;}
.fs-8{font-size: 0.8rem!important;}
.fs-9{font-size: 0.7rem!important;}

[data-bs-theme="dark"] .text-dark{color: rgb(173, 181, 189)!important;}
.text-justify{text-align: justify;}

.placeholder-end::placeholder {text-align: right;font-weight: bold;color: #999;}

.callout{border: 1px solid #e9ecef;border-left-width: .25rem;border-radius: .25rem;}
[data-bs-theme="dark"] .callout,
/* [data-bs-theme="dark"] .form-control, [data-bs-theme="dark"] .form-select
{background-color: #3d3d3d;border-color: #3d3d3d; color: #F1F1F1;}
[data-bs-theme="dark"] .form-control:focus, [data-bs-theme="dark"] .form-control:focus-within{background-color: #4f4f4f;} */
.callout-secondary{border-left-color: #6C757D!important;}
.callout-primary{border-left-color: #0D6EFD!important;}
.callout-info{border-left-color: #5bc0de!important;}
.callout-success{border-left-color: #198754!important;}
.callout-warning{border-left-color: #FFC107!important;}
.callout-danger{border-left-color: #DC3545!important;}
.callout-purple{border-left-color: #6f42c1!important;}
.callout-orange{border-left-color: #F35B04!important;}
.callout > .body{padding: 10px;}
.callout > .footer{background-color: #F9F9F9;}
[data-bs-theme="dark"] .callout > .footer{background-color: #333333;}

.fa-fw{margin-right: 4px;}
.breadcrumb-item+.breadcrumb-item::before {content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='gray'/></svg>");}

.form-floating-display{padding: 1rem 0.75rem;border: 1px solid #ced4da;border-radius: 0.25rem;background-color: #e9ecef;}
.form-floating-display, .form-floating-control{height: calc(3.5rem + 2px);line-height: 1.25;}
.form-check-label{user-select: none;}

.code{background-color: #F8F9FA;border: 1px solid #dee2e6;border-radius: .25rem;padding: 5px 10px;margin-bottom: 15px;user-select: all;}

.card-widget{min-height: 100px;border: 2px solid #FFF;position: relative;padding-top: 5px;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;}
.card-widget > .lead-image{width: 100%;line-height: 250%;text-align: center;font-size: 3.2rem;}
.card-widget-sm > .lead-image{width: 100%;line-height: 150%;text-align: center;font-size: 2.8rem;}
.card-widget > .widget-label{font-size: 0.9rem;color: #FFF;}
.card-widget-sm > .widget-label{font-size: 0.85rem;color: #FFF;}
.card-widget > .widget-control{position: absolute;padding-top: 5px;padding-bottom: 5px;padding-left: 14px;padding-right: 14px;border-radius: 25px;text-align: center;border: 1px solid transparent;cursor: pointer;top: 5px;right: 10px;z-index: 500;transition: background-color 0.3s;user-select: none;}
.card-widget > .widget-control:hover{background-color: #FFF;opacity: 0.6;color: #444!important;}


.widget-flat{position: relative;overflow: hidden;border: none;}
.widget-flat h3{color: #6C757D;}
.widget-icon {color: #727cf5;background-color: rgba(114,124,245,.25);font-size: 20px;height: 40px;width: 40px;text-align: center;line-height: 40px;border-radius: 3px;display: inline-block;}
.widget-icon-success {color: #42b78e;background-color: #d6fff0;}
.widget-icon-primary {color: #0D6EFD;background-color: #bad6ff;}

details{max-width: 800px;border-bottom: 1px solid #b5bfd9;}
details[open]{box-shadow: -3px 0 0 #b5bfd9;}
details:first-of-type{border-top: 1px solid #b5bfd9;}
summary{display: flex; align-items: center;list-style: none;cursor: pointer; padding: 0.8em 0.5em;}
summary h5 {display: flex; flex-direction: column;}
summary:hover{background-color: #f2f5f9;}
summary span:first-child {width: 3rem;height: 3rem;border-radius: 10px;background-color: #f3e1e1;display: flex;flex-shrink: 0;align-items: center;justify-content: center;margin-right: .7em;font-size: 1.2rem; }
summary span:last-child {font-weight: 700;margin-left: auto;}
summary h5 {font-size: 1.5rem;margin: 0;}
summary small {font-size: 1rem;}
summary + dl{display: flex;margin: 0px;padding: 20px 10px 0 10px;gap: 30px;}
summary + dl dt{font-weight: 700;}

/* jsForm class */
.jsFormExtra-label{display: inline-block; font-size: 0.85rem; margin-right: 10px;}
.jsFormExtra-label-name{padding-top: 2px;padding-bottom: 4px;padding-left: 14px;padding-right: 10px;border-radius: 20px 0 0 20px;}
.jsFormExtra-label-status{padding-top: 2px;padding-bottom: 4px;padding-left: 10px;padding-right: 14px;border-radius: 0 20px 20px 0;}
/* *** */